.room-code {

    border-radius: 8px;
    overflow: hidden;
    
    background: #FFF;
    border: 0.063rem solid #835afd;
    cursor: pointer;
    
    display: flex;
  
    div {
      height: 100%;
      background: #835afd;
      padding: 8px 12px;
      display: flex;
      justify-content: center;
      align-items: stretch;
    }
  
    span {
      display: block;
      align-self: center;
      flex: 1;
      padding: 0 16px 0 12px;
      width: 14.688rem;
      font-size: 14px;
      font-weight: 500;
    }

    @media (max-width: 450px) {
      span {
        width: 100%;
        padding: 0;
      }
    }
      
  
  }